<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://signalrwebchatserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b6a57c08-523f-4d7a-a06f-849be03cf9e1/resourcegroups/SignalIRResourceGruop/providers/Microsoft.Web/sites/SignalRWebChatServer</ResourceId>
    <UserName>$SignalRWebChatServer</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://signalrwebchatserver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>