html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}


/* Style for the container */
.container {
    width: 100%;
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
}

/* Style for the master element */
#master {
    padding: 10px;
}

/* Style for the viewMessages div */
#viewMessages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/* Style for the messageSender div */
#messageSender {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the input field */
#inputSend {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style for the send button */
#sendButton {
    width: 18%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    #sendButton:hover {
        background-color: #0056b3;
    }
  